/* 基本樣式 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
    text-underline-offset: 4px;
    display: inline-block;
    
}

body {
    font-family: "Montserrat", "Noto Sans TC", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
}

/* 樣式變數 */
:root {
    /* === Primary 主色系 === */
    --color-primary-100: #f5fee7;
    --color-primary-200: #e8fec5;
    --color-primary-300: #c0fa73;
    --color-primary-400: #57a203;
    --color-primary-500: #477a11;

    /* === Neutral 中性色系 === */
    --color-neutral-100: #F8F9FA;
    --color-neutral-200: #E9ECEF;
    --color-neutral-300: #DEE2E6;
    --color-neutral-400: #CED4DA;
    --color-neutral-500: #ADB5BD;
    --color-neutral-600: #6C757D;
    --color-neutral-700: #495057;
    --color-neutral-800: #343A40;
    --color-neutral-900: #212529;
    
}

/* 共用樣式 */
.container {
    max-width: 856px;
    margin: 0 auto;
}

.h1 {
    font-size: 40px;
    line-height: 1.2;
    font-weight: bold;
}

.h3 {
    font-size: 28px;
    line-height: 1.2;
    font-weight: bold;
}

.h4 {
    font-size: 24px;
    line-height: 1.2;
    font-weight: bold;
    color: var(--color-neutral-900);
}

.h5 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: bold;
    color: var(--color-primary-400);
}

.text-md {
    font-weight: regular;
    color: var(--color-neutral-900);
}

.text-sm {
    font-weight: regular;
    color: var(--color-neutral-600);
}
  
.py-32 {
    padding: 32px 0;
}

.py-64 {
    padding: 64px 0;
}

.pb-48 {
    padding-bottom: 48px;
}

.pl-8 {
    padding-left: 8px;
}

.pl-12 {
    padding-left: 12px;
}

.pr-8 {
    padding-right: 8px;
}


.mr-8 {
    margin-right: 8px;
}

.mb-4 {
    margin-bottom: 4px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-48 {
    margin-bottom: 48px;
}

.mb-64 {
    margin-bottom: 64px;
}

.bb-1 {
    border-bottom: 1px solid var(--color-neutral-300);
}

.bl-1 {
    border-left: 1px solid var(--color-neutral-900);
}

.bl-3 {
    border-left: 3px solid var(--color-neutral-300);
}

/* 個別樣式 */
.header, .header span {
    color: #fff;
    text-align: center;
}

.header {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week1/hero.png?raw=true);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 152px 0;
}

.quote-content {
    text-align: center;
    background-color: var(--color-primary-100);
    border-radius: 12px;
}

.intro-img {
    width: calc(100% + 220px);
    margin-left: -110px;
    margin-right: -110px;
}

.brand-history-list {
    list-style: disc;
    padding-left: 24px;
}

.bi {
    vertical-align: bottom;
}

.brand-story-item, .text-a {
    color: var(--color-primary-400);
}

.text-a:hover {
    text-decoration: underline;
}


.footer {
    background-color: var(--color-neutral-100);
}

.copyright {
    text-align: center;
}